body{
    background-color: rgb(126, 138, 134);
    text-align: center;
}

.buttons {
  display: inline-block;  
  margin: 5px;            
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 125px;
}

.MyLabel {

    font-size: 100px;
    margin-top: 500px;
    
}   
