#Background{
    background-color: #daaaaa;
}

#MyLabel{

    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Courier New', Courier, monospace;
}

#ButtonContainer {

    text-align: center;
    margin-top: 20px;
}

.buttons{
    padding: 10 px 20px;
    font-size: 1.5em;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: darkblue;
}
