body{
    background-color: rgb(126, 138, 134);
    text-align: center;
}

.cart-box {
  background-color: white;   
  border: 2px solid black;   
  border-radius: 8px;        
  padding: 15px;             
  width: fit-content;        
  margin: 20px auto;         
  color: black;              
}

.cart-box h3 {
  color: red;  
}
