body {
        background-color: rgb(230, 230, 230);
        font-family: Arial;
        display: flex;
        flex-direction: column; 
        align-items: center;
      }

      .product-box {
        background-color: white;
        border: 1px solid black;
        width: 280px;
        padding: 15px;
        margin: 30px;
        
      }

      .add-btn {
        background-color: yellow;
        border: 1px solid black;
        padding: 6px 15px;
        margin-right: 10px;
        cursor: pointer;
      }

      .buy-btn {
        background-color: orange;
        border: 1px solid black;
        padding: 6px 15px;
        cursor: pointer;
      }