body {
  background-image: url(phoebe.jpg);  
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(3px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-image: url(Yellow.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.input-box {
  margin-bottom: 20px;
}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #fffefe;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f6eded;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: #6c5ce7;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.btn:hover {
  background: #5a4bcf;
}

.register {
  margin-top: 15px;
  text-align: center;
}

.register a {
  color: #6c5ce7;
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;        
  bottom: 0;              
  left: 0;
  width: 100%;            
  text-align: center;     
  padding: 1.5rem;
  color: #fff;       
}